* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  text-align: center;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images-container > img {
  width: 300px;
  height: 300px;
  margin: 10px 0;
  border: 1px solid black;
}

.loader {
  display: none;
}
